<nav class="navbar navbar-expand-lg bg-body-light sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listing?cat=All"
      ><i class="fa-regular fa-compass"></i
    ></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/listing?cat=All">Explore</a>
      </div>
      <div class="navbar-nav ms-auto">
        <form
          action="/listing/search"
          method="post"
          class="form-inline"
          style="
            display: flex;
            justify-content: center;
            gap: 1rem;
            align-items: center;
          "
        >
          <input
            class="form-control mr-sm-2"
            name="search"
            type="search"
            placeholder="type your destination"
            aria-label="Search"
            style="border-radius: 1.2rem !important"
          />

          <button
            class="btn btn-outline-secondary my-2 my-sm-0 btn-search"
            type="submit"
            style="
              display: flex;
              gap: 1rem;
              border: none;
              background-color: rgb(149, 18, 189);
              color: white;
              border-radius: 1.2rem;
            "
          >
            <i
              class="fa-solid fa-magnifying-glass"
              style="margin-top: 0.1rem"
            ></i
            >Search
          </button>
        </form>
      </div>
      <div class="nav navbar-nav ms-auto auth">
        <a class="nav-link my-1" href="/listing/new">Airbnb your home</a>
        <% if(!currUser){ %>
        <div class="my-1">
          <a
            class="btn btn-outline-secondary my-2 commonBtn-hover"
            href="/login"
            >Log-in</a
          >
          <a
            class="btn btn-outline-secondary my-2 commonBtn-hover"
            href="/signup"
            >Sign-up</a
          >
        </div>
        <% } %> <% if(currUser){ %>
        <div>
          <a
            class="btn btn-outline-secondary my-2 welcome-user commonBtn-hover"
            href="/logout"
            >Log-out</a
          >
          <h6 class="welcome-user">Welcome <%= currUser.username %></h6>
        </div>
        <% } %>
      </div>
    </div>
  </div>
</nav>
