<% layout("/layouts/boilerplet") %>

<style>
  #filters {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
  }

  .filter {
    text-align: center;
    opacity: 0.7;
    align-items: center;
    width: 5.5rem;
  }

  .card-text-below {
    display: flex;
  }

  .filter:hover {
    opacity: 1;
    cursor: pointer;
  }

  .filter p {
    font-size: 0.8rem;
  }

  .text-toggle {
    border: 0.12rem solid gray;
    border-radius: 1rem;
    padding: 0.7rem;
    display: flex;
    align-items: center;
  }

  .textInfo {
    display: none;
  }
</style>

<body>
  <!-- <div class="loader-container">
    <div class="bouncing-dots">
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
    </div>
  </div> -->
  <div class="container">
    <div class="row">
      <!-- <h3 class="mt-4">All Listings</h3> -->
      <!-- ///////////////////////////////////////////////new slider -->
      <div class="filters scollable-tabs-container">
        <div class="show-categories">
          <div class="menu-items-lists">
            <div class="left-slide-arrow active">
              <i class="fa-solid fa-angle-left"></i>
            </div>
            <div class="filter mt-3" onclick="showListing('All')">
              <div><i class="fa-solid fa-border-all"></i></div>
              <p class="menu-item">All</p>
            </div>
            <div class="filter mt-3" onclick="showListing('Trending')">
              <div><i class="fa-solid fa-fire"></i></div>
              <p class="menu-item">Trending</p>
            </div>
            <div class="filter mt-3" onclick="showListing('Rooms')">
              <div><i class="fa-solid fa-bed"></i></div>
              <p class="menu-item">Rooms</p>
            </div>
            <div class="filter mt-3" onclick="showListing('BeatchFront')">
              <div><i class="fa-solid fa-umbrella-beach"></i></div>
              <p class="menu-item">BeatchFront</p>
            </div>
            <div class="filter mt-3" onclick="showListing('Amazing Views')">
              <div><i class="fa-solid fa-image"></i></div>
              <p class="menu-item">Amazing Views</p>
            </div>
            <div class="filter mt-3" onclick="showListing('Domes')">
              <div><i class="fa-solid fa-landmark-dome"></i></div>
              <p class="menu-item">Domes</p>
            </div>
            <div class="filter mt-3" onclick="showListing('Camping')">
              <div><i class="fa-solid fa-mountain"></i></div>
              <p class="menu-item">Camping</p>
            </div>
            <div class="filter mt-3" onclick="showListing('Arctic')">
              <div><i class="fa-solid fa-igloo"></i></div>
              <p class="menu-item">Arctic</p>
            </div>
            <div class="filter mt-3" onclick="showListing('Play')">
              <div><i class="fa-solid fa-bowling-ball"></i></div>
              <p class="menu-item">Play</p>
            </div>
            <div class="filter mt-3" onclick="showListing('Treehouses')">
              <div>
                <img
                  class="i181yxiv atm_j3_1osqo2v atm_vy_1o8jidz atm_e2_1wugsn5 atm_d2_2ec48i atm_fg_1h6ojuz atm_k4_1d1puqj atm_uc_15ib22x atm_ui_idpfg4__1rrf6b5 dir dir-ltr"
                  src="https://a0.muscache.com/pictures/4d4a4eba-c7e4-43eb-9ce2-95e1d200d10e.jpg"
                  alt=""
                  width="24"
                  height="24"
                />
              </div>
              <p class="menu-item">Treehouses</p>
            </div>
            <div class="filter mt-3" onclick="showListing('caves')">
              <div>
                <img
                  class="i181yxiv atm_j3_1osqo2v atm_vy_1o8jidz atm_e2_1wugsn5 atm_d2_2ec48i atm_fg_1h6ojuz atm_k4_1d1puqj atm_uc_15ib22x atm_ui_idpfg4__1rrf6b5 dir dir-ltr"
                  src="https://a0.muscache.com/pictures/4221e293-4770-4ea8-a4fa-9972158d4004.jpg"
                  alt=""
                  width="24"
                  height="24"
                />
              </div>
              <p class="menu-item">caves</p>
            </div>
            <div class="filter mt-3" onclick="showListing('Top of the world')">
              <div>
                <img
                  class="i181yxiv atm_j3_1osqo2v atm_vy_1o8jidz atm_e2_1wugsn5 atm_d2_2ec48i atm_fg_1h6ojuz atm_k4_1d1puqj atm_uc_15ib22x atm_ui_idpfg4__1rrf6b5 dir dir-ltr"
                  src="https://a0.muscache.com/pictures/248f85bf-e35e-4dc3-a9a1-e1dbff9a3db4.jpg"
                  alt=""
                  width="24"
                  height="24"
                />
              </div>
              <p class="menu-item">Top of the world</p>
            </div>
            <div class="filter mt-3" onclick="showListing('Ski-in/out')">
              <div>
                <img
                  class="i181yxiv atm_j3_1osqo2v atm_vy_1o8jidz atm_e2_1wugsn5 atm_d2_2ec48i atm_fg_1h6ojuz atm_k4_1d1puqj atm_uc_15ib22x atm_ui_idpfg4__1rrf6b5 dir dir-ltr"
                  src="https://a0.muscache.com/pictures/757deeaa-c78f-488f-992b-d3b1ecc06fc9.jpg"
                  alt=""
                  width="24"
                  height="24"
                />
              </div>
              <p class="menu-item">Ski-in/out</p>
            </div>
            <div class="filter mt-3" onclick="showListing('Desert')">
              <div>
                <img
                  class="i181yxiv atm_j3_1osqo2v atm_vy_1o8jidz atm_e2_1wugsn5 atm_d2_2ec48i atm_fg_1h6ojuz atm_k4_1d1puqj atm_uc_15ib22x atm_ui_idpfg4__1rrf6b5 dir dir-ltr"
                  src="https://a0.muscache.com/pictures/a6dd2bae-5fd0-4b28-b123-206783b5de1d.jpg"
                  alt=""
                  width="24"
                  height="24"
                />
              </div>
              <p class="menu-item">Desert</p>
            </div>
            <div class="right-slide-arrow">
              <i class="fa-solid fa-angle-right"></i>
            </div>
          </div>
        </div>
        <div class="text-toggle">
          <div class="form-check-reverse form-switch">
            <input
              class="form-check-input"
              type="checkbox"
              role="switch"
              id="flexSwitchCheckDefault"
            />
            <label class="form-check-label" for="flexSwitchCheckDefault"
              >Including Taxes</label
            >
          </div>
        </div>
      </div>

      <!-- ///////////////////////////////////////////////end new slider -->

      <% for( let listing of allListing) { %>
      <div class="card listing-card" style="width: 22rem">
        <a href="/listing/<%= listing._id %>">
          <div class="imgs-list">
            <img
              class="card-img-top"
              src="<%= listing.image.url %>"
              alt="Card image cap"
              style="height: 20rem"
            />
          </div>
          <div class="card-img-overlay"></div>
          <div class="card-body">
            <p class="card-text">
              <b> <%= listing.title %> <br /> </b>
              ₹ <%= listing.price.toLocaleString("en-IN") %> /night
              <span class="textInfo"> + 18% GST </span>
            </p>
          </div>
        </a>
      </div>
      <% } %>
    </div>
  </div>

  <script>
    // form-check-input
    const toggle = document.querySelector(".form-check-input");
    toggle.addEventListener("click", () => {
      let textInfo = document.getElementsByClassName("textInfo");
      for (info of textInfo) {
        if (info.style.display !== "inline") {
          info.style.display = "inline";
        } else {
          info.style.display = "none";
        }
      }
    });
    function showListing(cag) {
      window.location.href = "?cat=" + cag;
    }
  </script>
</body>
