body {
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* .loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.bouncing-dots {
  display: flex;
  justify-content: space-between;
  width: 60px;
}

.dot {
  width: 15px;
  height: 15px;
  background-color: #ff5c35;
  border-radius: 50%;
  animation: bounce 1.5s infinite;
}

.dot:nth-child(1) {
  animation-delay: 0s;
}

.dot:nth-child(2) {
  animation-delay: 0.3s;
}

.dot:nth-child(3) {
  animation-delay: 0.6s;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
} */

.container {
  flex: 1;
}
.navbar {
  /* height: 5rem; */
  /* border-bottom: 2px solid gray; */
  border-radius: 1.5rem;
  background-color: white;
  font-size: 1.2rem;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
  -webkit-backdrop-filter: blur(20px) saturate(160%) contrast(45%)
    brightness(140%);
}

.fa-regular {
  color: rgb(209, 30, 30);
  margin-left: 1rem;
  font-size: 2rem;
}

.nav-link {
  color: #222222 !important;
  font-weight: bold;
}

footer {
  background-color: #dfdfdf;
  padding: 0.4rem 0;
}
.f-info {
  /* height: 2.2rem; */
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.f-info-links a {
  text-decoration: none;
  color: #222222;
}

.f-info-links a:hover {
  text-decoration: underline;
}

.f-info-socials i {
  margin-left: 1rem;
  font-size: 1.4rem;
}

.social-links a {
  color: black;
}

.listing-card {
  display: flex;
  flex-wrap: wrap;
  border: none !important;
  margin: 0 0 2rem 1rem;
}
.card a {
  text-decoration: none;
  color: #222222;
}

.card-img-top {
  margin-bottom: 0.8rem;
  border-radius: 1rem !important;
  width: 100% !important;
  object-fit: cover !important;
  -webkit-box-shadow: 11px 17px 18px -6px rgba(82, 62, 82, 1);
  -moz-box-shadow: 11px 17px 18px -6px rgba(82, 62, 82, 1);
  box-shadow: 11px 17px 18px -6px rgba(82, 62, 82, 1);
}

.card-body {
  margin: 0 !important;
  padding: 0 !important;
}

.card-img-overlay {
  opacity: 0;
}

.card-img-overlay:hover {
  opacity: 0.2;
  background-color: white;
  /* transition-duration: 1s; */
}

.edit-btn,
.add-btn {
  background-color: rgb(209, 30, 30) !important;
  border: none !important;
}

.edit-btn:hover,
.add-btn:hover {
  background-color: rgb(241, 18, 18) !important;
  font-size: 1.1rem;
  border: none !important;
  transition-duration: 0.1s;
}

.new-list input,
textarea {
  width: 30rem;
}

input,
textarea {
  border-top: none;
  /* border-bottom: 5px solid gray !important; */
  padding: 0.5rem;
  border-radius: 1rem;
}
input[type="search"] {
  border-top: none !important;
}

.form-range,
.form-range:hover {
  border: none !important;
  padding: 0 !important;
  border-radius: none !important;
}

input:hover,
textarea:hover {
  border-top: none;
  border-bottom: 3px solid rgb(59, 59, 59) !important;
  /* padding: 0.5rem; */
  /* border-radius: 0.8rem; */
}

.show-img {
  height: 40vh;
}
.card-body-btn {
  display: flex;
  justify-content: space-between;
}
.auth {
  display: flex;
  justify-content: center;
}

.scollable-tabs-container {
  width: 800px;
  max-width: 700px;
  margin: 0.5rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: hidden;
  position: relative;
}

.scollable-tabs-container div {
  margin: 0 2rem 0 0;
}

.left-slide-arrow,
.right-slide-arrow {
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.left-slide-arrow i,
.right-slide-arrow i {
  font-size: 1.5rem;
  cursor: pointer;
  background-color: rgb(235, 231, 231);
  padding: 0.7rem 1rem;
  border-radius: 50%;
}

.menu-item {
  white-space: nowrap;
  width: 100%;
}

.filter i,
.filter img {
  margin-left: 0.6rem;
  text-align: center;
  font-size: 1.1rem;
  opacity: 1 !important;
}

.menu-items-lists {
  display: flex;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

/* .menu-items-lists::-webkit-scrollbar {
  display: none;
} */

.active {
  display: none;
}

.filter i {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-left: 2rem;
}
